<h1 class="well">Contact</h1>
<div *ngIf="contact != undefined; else newContact">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" class="form-control" [(ngModel)]="contact.name">
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="text" class="form-control" [(ngModel)]="contact.phone">
    </div>
    <a (click)="save()" class="btn btn-primary">Save</a>
    <button (click)="delete()" class="btn btn-danger">Delete</button>
</div>

<ng-template #newContact>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" class="form-control" #name>
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="text" class="form-control" #phone>
    </div>
    <a (click)="add(name.value, phone.value)" class="btn btn-primary">Save</a>
</ng-template>