<h1 class="well">Address Book</h1>
<div *ngIf="addressBook; else newAddressBook">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" class="form-control" [(ngModel)]="addressBook.name">
    </div>
    <a (click)="save()" class="btn btn-primary">Save</a>
    <button (click)="delete()" class="btn btn-danger">Delete</button>
</div>

<ng-template #newAddressBook>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" class="form-control" #name>
    </div>
    <a (click)="add(name.value)" class="btn btn-primary">Save</a>
</ng-template>