<h1 class="well">Address Books</h1>

<button class="btn btn-primary" [routerLink]="['/address-book/new']">Add Address Book</button>
<button class="btn btn-primary" (click)="showUniqueContacts()">Show Unique Contacts</button>
<hr>

<div *ngIf="uniqueContacts.length < 1; else uniqueContactsList">
    <label for="addressBooks">Address Books</label>
    <div class="well">
        <div class="row">
            <div class="col-md-9">
                <select id="addressBooks" (change)="selected(selectedAddressBook.value)" class="form-control" #selectedAddressBook>
                <option [value]="null">Select...</option>
                <option *ngFor="let b of addressBooks" [value]="b.id">{{ b.name }}</option>
            </select>
            </div>
            <div class="col-md-1">
                <button [disabled]="disabled" class="btn btn-default" [routerLink]="['/address-book/', selectedAddressBookId]">Edit Address Book</button>
            </div>
        </div>
    </div>

    <hr>

    <label for="contacts">Contacts</label>
    <br>
    <button class="btn btn-primary" (click)="addContact()" [disabled]="disabled">Add Contact</button>
    <div *ngIf="contacts.length > 0">
        <hr>
        <table class="table table-striped table-hover">
            <thead>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let c of contacts">
                    <td>{{ c.name }}</td>
                    <td>{{ c.phone }}</td>
                    <td>
                        <a (click)="onEdit(c.id)" class="btn btn-default">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #uniqueContactsList>
    <hr>
    <table class="table table-striped table-hover">
        <thead>
            <th>Name</th>
            <th>Phone Number</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of uniqueContacts">
                <td>{{ c.name }}</td>
                <td>{{ c.phone }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <button (click)="close()" class="btn btn-default">Close</button>
</ng-template>